html, body {
  background: #f2f2f2;
  color: #444;
  margin: 0;
  padding: 0;
  font-family: helvetica, optima, helvetica, sans-serif;
  padding-top: 2em;
  padding-bottom: 2em;
}

h2 {
  font-size: 15pt;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  font-weight: normal;
  letter-spacing: 1.2pt;
  color: #666;
}

button {
  font-size: 10pt;
  font-variant: small-caps;
  cursor: pointer;
}

p {
  font-size: 10pt;
}
/*---------------------------------------------------------------------------*/

span.spin {
  display: block;
  width: 100%;
  height: 10px;
  background: url(/qman/spin.gif) no-repeat 100% 100% !important;
}

.num {
  text-align: right !important;
}

/*---------------------------------------------------------------------------*/

.flash {
  background: yellow !important;
}

/*---------------------------------------------------------------------------*/

.panel {
  margin: 0 auto;
  background: white;
  margin: 15px;
  margin-right: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0;
}

.panel-header {
  text-align: left;
  font-variant: small-caps;
  font-size: 13pt;
  font-weight: bold;
  background: #ccc;
  color: #369;
  letter-spacing: 1.3px;
  text-shadow: 1px 1px 1px white;
  padding: 2px;
  border: 0;
  padding-left: 0.66em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.panel-body {
  padding: 0.66em;
  border-radius: 3px;
}

/*--- job status ------------------------------------------------------------*/

.done {
  color: green !important;
}

.pending {
  color: blue !important;
}

.failed {
  color: firebrick !important;
}

/*--- job viewer ------------------------------------------------------------*/

#job-view-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}

.job-view {
  position: relative;
  height: 80%;
  width: 90%;
  margin: 5% auto;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 0 8px 6px -6px black;
  margin-bottom: 2em;
  background: #ddd;
  padding: 0.5em;
  text-align: center;
}

.job-view h2 {
}

.job-view p.sub-title {
  font-weight: bold;
  margin-bottom: 1em;
}

.job-view-area {
  position: absolute;
  background: #f6f6f6;
  border: 1px solid #aaa;
  top: 70px;
  left: 10px;
  right: 10px;
  bottom: 50px;
  overflow: scroll;
  border-radius: 3px;
  padding: 1em;
  text-align: left;
}

.job-view-area td, .job-view-area th {
  text-overflow: ellipsis;
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
}

.job-view-area table {
  margin-right: 1em;
}

.viewer-controls {
  position: absolute;
  bottom: 10px;
  margin: auto;
  text-align: center;
  width: 100%;
}

/*--- panel buttons ---------------------------------------------------------*/

.status-buttons {
  position: absolute;
  right: 25px;
  top: 6px;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
}

.status-buttons button {
  width: 5em;
  margin: 0;

  color: #222;
  background: #bbb;
  border: 1px solid #222;

  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0.2em;

  font-weight: normal;
  font-size: 10pt;
  letter-spacing: 1.3px;
  text-shadow: 1px 1px 1px white;
}

.status-buttons button:hover {
  box-shadow: 0px 0px 4px 1px orange;
}

.status-buttons button:active {
  background: darkred !important;
}

.not-showing {
  color: #ccc !important;
  background: #888 !important;
  border: 1px solid #444 !important;
  text-shadow: -1px -1px 1px #555 !important;
}

/*---------------------------------------------------------------------------*/

div.import-container {
  position: fixed;
  top: 8%;
  bottom: 8%;
  left: 4%;
  right: 4%;
  top: 20px;
  bottom: 20px;
  left: 25px;
  right: 25px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  border: 1px solid orange;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

/*---------------------------------------------------------------------------*/

div.form-container {
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 25px;
  right: 25px;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid orange;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

div.form {
  position: relative;
  width: 400px;
  width: 60%;
  margin: 10% auto;
  border: 4px solid #555;
  border-radius: 3px;
  margin-bottom: 2em;
  background: #888;
  padding: 0.5em;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.6);
}

div.form h2 {
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  border-bottom: 1px solid #555;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

div.form-buttons {
  margin-top: 0.5em;
  padding: 0.5em;
  border-top: 1px solid #555;
  text-align:center;
  padding-bottom: 0;
}

div.form table {
  width: 100%;
  border-collapse: collapse;
}

div.form table th {
  width: 15%;
  font-size: 10pt;
  text-align: right;
  color: #333;
  color: white;
  letter-spacing: 1.5px;
  white-space: nowrap;
  vertical-align: top;
  padding: 6px;
  font-weight: bold;
}

div.form table td {
  width: 85%;
  font-size: 10pt;
}

.form input {
  width: 93%;
  border-radius: 3px;
  border: 1px solid #555;
  background: white;
  color: #369;
  font-size: 10pt;
  padding: 0.40em;
  outline: none;
}

.form textarea {
  width: 93%;
  font-family: menlo, monospace;
  resize: none;
  border-radius: 3px;
  border: 1px solid #555;
  background: white;
  color: #369;
  font-size: 10pt;
  padding: 0.40em;
  outline: none;
}

/*---------------------------------------------------------------------------*/

.lister {
}

.lister td.actions {
  text-align: right;
  white-space: nowrap;
  padding-right: 4px;
}

.lister th.actions {
  text-align: right;
  padding-right: 4px;
}

.lister button {
  padding: 0;
  margin: 0;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 3px;
}

.lister button:hover {
  color: blue;
}

button::-moz-focus-inner {
  padding: 0;
  margin: -3px;
}

div.lister table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  margin-bottom: 6pt;
}

.lister tr > td {
  background: white;
}

.lister tr:hover > td {
  background: lavender;
}

div.lister th {
  font-size: 10pt;
  color: #666;
  font-style: italic;
  text-decoration: underline;
  padding: 4px;
  text-align: left;
  font-weight: normal;
  border-top: 0;
  padding-left: 4px;
  border-bottom: 1px solid #f2f2f2;
  background: transparent !important;
}

div.lister td {
  font-size: 10pt;
  color: black;
  border-bottom: 1px solid #f2f2f2;
  padding: 4px;
  text-align: left;
}

/*---------------------------------------------------------------------------*/

#title-bar {
  position: fixed;
  margin: 0;
  top: 0px;
  width: 100%;
  background: #444;
  border-bottom: 3px solid #222;
  height: 2.5em;
  padding-top: 6pt;
  color: white;
  opacity: 0.8;
}

#title-text {
  font-size: 16pt;
  font-weight: normal;
  position: absolute;
  top: 10px;
  left: 15px;
  color: orange;
  text-shadow: 1px 1px 5px black;
}

#title-clock {
  position: absolute;
  top: 6px;
  right: 15px;
  font-size: 9pt;
  font-weight: normal;
  color: orange;
  text-shadow: 1px 1px 5px black;
}

#title-version {
  position: absolute;
  bottom: 10px;
  font-size: 8pt;
  right: 15px;
  font-style: italic;
  color: lavender;
  text-shadow: 1px 1px 5px black;
}

/*---------------------------------------------------------------------------*/

div#status-bar {
  position: fixed;
  margin: 0;
  bottom: 0px;
  width: 100%;
  background: #444;
  color: white;
  font-size: 10pt;
  padding: 4pt;
  padding-bottom: 1.3em;
  font-variant: small-caps;
  font-size: 10pt;
  border-top: 3px solid #222;
  height: 2em;
  opacity: 0.9;
}

div#status-bar div {
  display: inline;
}

div#db-info {
  position: absolute;
  top: 6px;
  left: 10px;
  font-variant: small-caps;
  z-index: 2;
}

#db-type, #db-host {
  color: orange;
}

div#mouse-coords {
  position: absolute;
  top: 24px;
  left: 10px;
  font-size: 8pt;
  font-weight: normal;
  color: #999;
  border: 0;
  z-index: 1;
}