html, body {
  background: #e6e6e6;
  background: linen;
  background: white;
  color: #444;
  margin: 0;
  padding: 0;
  font-family: helvetica, optima, helvetica, sans-serif;
  padding-top: 2em;
  padding-bottom: 2em;
}

h2 {
  font-size: 15pt;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  font-weight: normal;
  letter-spacing: 1.2pt;
  color: #666;
}

button {
  font-size: 10pt;
  font-variant: small-caps;
  cursor: pointer;
}

p {
  font-size: 10pt;
}

/*--------------------------------------------------*/

.flash {
  background: yellow !important;
}

/*--------------------------------------------------*/

.panel {
  margin: 0 auto;
  padding: 1em;
  background: #fafafa;
  margin: 15px;
  margin-right: 18px;
  border-radius: 3px;
  border: 1px solid #dadada;
}

/*--- job status ------------------------------------------------------------*/

.done {
  color: green !important;
}

.pending {
  color: blue !important;
}

.failed {
  color: firebrick !important;
}

/*--- job viewer ------------------------------------------------------------*/

#job-view-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}

.job-view {
  position: relative;
  height: 80%;
  width: 90%;
  margin: 5% auto;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 0 8px 6px -6px black;
  margin-bottom: 2em;
  background: #ddd;
  /* background: -webkit-linear-gradient(#fff, #ccc); */
  padding: 0.5em;
  text-align: center;
}

.job-view h2 {
}

.job-view p.sub-title {
  font-weight: bold;
  margin-bottom: 1em;
}

.job-view-area {
  position: absolute;
  background: #f6f6f6;
  border: 1px solid #aaa;
  top: 70px;
  left: 10px;
  right: 10px;
  bottom: 50px;
  overflow: scroll;
  border-radius: 3px;
  padding: 1em;
  text-align: left;
}

.job-view-area td, .job-view-area th {
  text-overflow: ellipses;
  max-width: 50;
  border: 1px solid silver;
  white-space: nowrap;
}

.job-view-area table {
  margin-right: 1em;
}

.viewer-controls {
  position: absolute;
  bottom: 10px;
  margin: auto;
  text-align: center;
  width: 100%;
}

/*--- panel buttons ---------------------------------------------------------*/

.panel-buttons {
  position: absolute;
  right: 20px;
  top: 6px;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  z-index: 3;
}

.panel-buttons button {
  width: 5em;
  margin: 0;
  color: white;
  color: black;
  background: yellow;
  border-radius: 5px;
  border: 1px solid tan;
  margin-left: 2px;
  margin-right: 2px;
  font-weight: normal;
  font-size: 10pt;
  padding: 0.2em;
  letter-spacing: 1.3px;
}

.panel-buttons button:hover {
  background: gold !important;
}

.panel-buttons button:active {
  background: darkred !important;
}

.panel-buttons button.not-showing:hover {
  background: #bbb !important;
  color: blue !important;
}

.not-showing {
  color: #666 !important;
  background: #aaa !important;
  border: 1px solid #888 !important;
  text-shadow: 1px 1px #aaa !important;
}

/*--------------------------------------------------*/

div.form-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}

div.form {
  position: relative;
  width: 400px;
  width: 60%;
  margin: 10% auto;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 0 8px 6px -6px black;
  margin-bottom: 2em;
  background: #ddd;
  /* background: -webkit-linear-gradient(#fff, #ccc); */
  padding: 0.5em;
}

div.form h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: normal;
  font-size: 11pt;
  border-bottom: 1px solid silver;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  /* text-shadow: 1px 1px #fff; */
}

div.form-buttons {
  margin-top: 0.5em;
  padding: 0.5em;
  border-top: 1px solid silver;
  text-align:center;
  padding-bottom: 0;
}

div.form table {
  width: 100%;
  border: border-collapse;
}

div.form table th {
  width: 15%;
  font-size: 10pt;
  text-align: left;
  font-variant: small-caps;
  color: #333;
  letter-spacing: 1.5px;
  white-space: nowrap;
  text-shadow: 1px 1px #fff;
  vertical-align: text-top;
  padding-top: 10px;
}

div.form table td {
  width: 85%;
  font-size: 10pt;
}

.form input {
  width: 93%;
  border-radius: 3px;
  border: 1px solid silver;
  background: white;
  color: #369;
  font-size: 10pt;
  padding: 0.40em;
  outline: none;
}

.form textarea {
  width: 93%;
  font-family: menlo, monospace;
  resize: none;
  border-radius: 3px;
  border: 1px solid silver;
  background: white;
  color: #369;
  font-size: 10pt;
  padding: 0.40em;
  outline: none;
}

/*--------------------------------------------------*/

#queries {
}

/*--------------------------------------------------*/

.lister {
}

.lister td.actions {
  text-align: right;
  white-space: nowrap;
  padding-right: 4px;
}

.lister th.actions {
  text-align: right;
  padding-right: 4px;
}

.lister button {
  padding: 0;
  margin: 0;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 3px;
}

.lister button:hover {
  color: blue;
}

button::-moz-focus-inner {
    padding: 0;
    margin: -3px;
}

div.lister table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  margin-bottom: 6pt;
}

.lister tr {
  background: white;
}

.lister tr:hover {
  background: lavender;
}

div.lister th {
  font-size: 11pt;
  font-variant: small-caps;
  background: #ddd;
  color: black;
  border-bottom: 1px solid silver;
  padding: 0px;
  text-align: left;
  font-weight: normal;
  border-top: 1px solid #bbb;
  padding-left: 4px;
}

div.lister td {
  font-size: 10pt;
  color: black;
  border-bottom: 1px solid silver;
  padding: 4px;
  text-align: left;
}

/*--------------------------------------------------*/

#upload-lz {
  border-radius: 5px;
  border: 2px dashed silver;
  padding: 6pt;
  text-align: center;
}

#upload-lz:hover {
  border: 2px dashed sandybrown !important;
  background: white;
}

div#title-bar {
  position: fixed;
  margin: 0;
  top: 0px;
  width: 100%;
  background: #444;
  background: lavender;
  border-bottom: 3px solid cornflowerblue;
  height: 2.5em;
  padding-top: 6pt;
  color: white;
  color: black;
}

#title-text {
  font-size: 16pt;
  font-weight: normal;
  position: absolute;
  top: 10px;
  left: 15px;
}

#title-clock {
  position: absolute;
  top: 6px;
  right: 15px;
  font-size: 9pt;
  font-weigth: normal;
  color: orange;
  color: blue;
}

#title-version {
  position: absolute;
  bottom: 10px;
  font-size: 8pt;
  right: 15px;
  font-style: italic;
}

div#status-bar {
  position: fixed;
  margin: 0;
  bottom: 0px;
  width: 100%;
  background: lavender;
  color: #444;
  font-size: 10pt;
  padding: 4pt;
  padding-bottom: 1.3em;
  font-variant: small-caps;
  font-size: 10pt;
  border-top: 1px solid sandybrown;
  border-top: 3px solid cornflowerblue;
  height: 2em;
}

div#status-bar div {
  display: inline;
}

div#db-info {
  position: absolute;
  top: 6px;
  left: 10px;
  font-variant: small-caps;
  z-index: 2;
}

#db-type, #db-host {
  color: blue;
}

div#mouse-coords {
  position: absolute;
  top: 24px;
  left: 10px;
  font-size: 8pt;
  font-weight: normal;
  color: #777;
  border: 0;
  z-index: 1;
  /* margin-right: 2em; */
}