html, body {
  background: #ccc;
  color: #444;
  margin: 0;
  padding: 0;
  font-family: optima, helvetica, sans-serif;
}

h2 {
  font-size: 14pt;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  font-weight: normal;
  letter-spacing: 1.2pt;
}

button {
  font-size: 10pt;
  font-variant: small-caps;
}

/*--------------------------------------------------*/

div.form-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}

div.form {
  position: relative;
  width: 400px;
  margin: 10% auto;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 0 8px 6px -6px black;
  margin-bottom: 2em;
  background: #ddd;
  background: -webkit-linear-gradient(#fff, #ccc);
  padding: 0.5em;
}

div.form h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: normal;
  font-size: 11pt;
  border-bottom: 1px solid silver;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  /* text-shadow: 1px 1px #fff; */
}

div.form-buttons {
  margin-top: 0.5em;
  padding: 0.5em;
  border-top: 1px solid silver;
  text-align:center;
  padding-bottom: 0;
}

div.form table {
  width: 100%;
  border: border-collapse;
}

div.form table th {
  width: 20%;
  font-size: 10pt;
  text-align: left;
  font-variant: small-caps;
  color: #333;
  letter-spacing: 1.5px;
  white-space: nowrap;
  text-shadow: 1px 1px #fff;
}

div.form table td {
  width: 80%;
  font-size: 10pt;
}

div.form table td input {
  width: 93%;
  border-radius: 3px;
  border: 1px solid silver;
  background: white;
  color: #369;
  font-size: 10pt;
  padding: 0.40em;
}


/*--------------------------------------------------*/

#queries {
  margin: 0 auto;
  border: 1px solid #aaa;
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em;
  border-radius: 5pt;
  background: #f6f6f6;
  margin-top: 0em;
  margin-bottom: 1em;
}

div.lister {
}

div.lister table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  margin-bottom: 6pt;
}

div.lister th {
  font-size: 11pt;
  font-variant: small-caps;
  background: #ddd;
  color: black;
  border-bottom: 1px solid silver;
  padding: 2px;
  text-align: left;
  font-weight: normal;
  border-top: 1px solid #bbb;
  padding-left: 4px;
}

div.lister td {
  font-size: 10pt;
  background: white;
  color: black;
  border-bottom: 1px solid silver;
  padding: 4px;
}

/*--------------------------------------------------*/

div#container, div#upload-area {
  margin: 0 auto;
  /* width: 800px; */
  border: 1px solid #aaa;
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em;
  border-radius: 5pt;
  margin-top: 2em;
  background: #f6f6f6;
  /* text-align: center; */
  /* height: 900px; */
  margin-top: 4em;
  margin-bottom: 1em;
}

div#upload-area {
  margin-top: 1em;
  margin-bottom: 4em;
}

#upload-lz {
  border-radius: 5px;
  border: 2px dashed silver;
  padding: 6pt;
  text-align: center;
}

div#upload-area:hover {
  border: 1px dotted #aaa;
  background: white;
}

div#title-bar {
  position: fixed;
  margin: 0;
  top: 0px;
  width: 100%;
  background: #444;
  border-bottom: 3px solid slateblue;
  height: 2.5em;
  padding-top: 6pt;
  color: white;
}

#title-text {
  font-size: 16pt;
  font-weight: normal;
  position: absolute;
  top: 10px;
  left: 15px;
}

#title-clock {
  position: absolute;
  top: 6px;
  right: 15px;
  font-size: 8pt;
}

#title-version {
  position: absolute;
  bottom: 10px;
  font-size: 8pt;
  right: 15px;
  font-style: italic;
}

div#status-bar {
  position: fixed;
  margin: 0;
  bottom: 0px;
  width: 100%;
  border-top: 3px solid slateblue;
  background: #444;
  color: white;
  font-size: 10pt;
  font-family: optima, sans-serif;
  padding: 4pt;
  padding-bottom: 1.3em;
  font-variant: small-caps;
  font-size: 10pt;
  height: 1.5em;
}

div#status-bar div {
  display: inline;
}

div#loading {
  position: absolute;
  left: 45%;
}

div#db-info {
  position: absolute;
  left: 10px;
  font-variant: small-caps;
}

#db-type, #db-host {
  color: orange;
}

div#mouse-coords {
  position: absolute;
  right: 10px;
  margin-right: 2em;
}